-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: develop
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comment`
--

DROP TABLE IF EXISTS `comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comment` (
  `commentId` bigint NOT NULL AUTO_INCREMENT,
  `content` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) DEFAULT NULL,
  `isDeleted` tinyint(1) NOT NULL DEFAULT '0',
  `likeCount` int NOT NULL DEFAULT '0',
  `warningCount` int NOT NULL DEFAULT '0',
  `replyCount` int NOT NULL DEFAULT '0',
  `postId` bigint NOT NULL,
  `memberId` bigint NOT NULL,
  `parentId` bigint DEFAULT NULL,
  PRIMARY KEY (`commentId`),
  KEY `comment_postId_fkey` (`postId`),
  KEY `comment_memberId_fkey` (`memberId`),
  KEY `comment_parentId_fkey` (`parentId`),
  CONSTRAINT `comment_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`memberId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `comment_parentId_fkey` FOREIGN KEY (`parentId`) REFERENCES `comment` (`commentId`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `comment_postId_fkey` FOREIGN KEY (`postId`) REFERENCES `post` (`postId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comment`
--

LOCK TABLES `comment` WRITE;
/*!40000 ALTER TABLE `comment` DISABLE KEYS */;
/*!40000 ALTER TABLE `comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member`
--

DROP TABLE IF EXISTS `member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member` (
  `password` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nickname` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `memberId` bigint NOT NULL AUTO_INCREMENT,
  `refreshToken` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`memberId`),
  UNIQUE KEY `member_username_key` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member`
--

LOCK TABLES `member` WRITE;
/*!40000 ALTER TABLE `member` DISABLE KEYS */;
/*!40000 ALTER TABLE `member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `musical`
--

DROP TABLE IF EXISTS `musical`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `musical` (
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `averageRating` double NOT NULL DEFAULT '0',
  `endDate` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `musicalId` bigint NOT NULL AUTO_INCREMENT,
  `startDate` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`musicalId`)
) ENGINE=InnoDB AUTO_INCREMENT=241416 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `musical`
--

LOCK TABLES `musical` WRITE;
/*!40000 ALTER TABLE `musical` DISABLE KEYS */;
/*!40000 ALTER TABLE `musical` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `musical_detail`
--

DROP TABLE IF EXISTS `musical_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `musical_detail` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cast` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `runtime` int NOT NULL DEFAULT '0',
  `synopsis` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `genre` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `showtimes` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `ageRating` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `facilityDetails` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `facilityName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `introImages` json NOT NULL,
  `musicalId` bigint NOT NULL,
  `posterImagePath` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `productionCompany` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `ticketPrice` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  PRIMARY KEY (`id`),
  UNIQUE KEY `musical_detail_musicalId_key` (`musicalId`),
  CONSTRAINT `musical_detail_musicalId_fkey` FOREIGN KEY (`musicalId`) REFERENCES `musical` (`musicalId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `musical_detail`
--

LOCK TABLES `musical_detail` WRITE;
/*!40000 ALTER TABLE `musical_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `musical_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post`
--

DROP TABLE IF EXISTS `post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `post` (
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `views` int NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `isDeleted` tinyint(1) NOT NULL DEFAULT '0',
  `likeCount` int NOT NULL DEFAULT '0',
  `memberId` bigint NOT NULL,
  `musicalId` bigint DEFAULT NULL,
  `postId` bigint NOT NULL AUTO_INCREMENT,
  `replyCount` int NOT NULL DEFAULT '0',
  `sample` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updatedAt` datetime(3) DEFAULT NULL,
  `warningCount` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`postId`),
  KEY `post_musicalId_fkey` (`musicalId`),
  KEY `post_memberId_fkey` (`memberId`),
  CONSTRAINT `post_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`memberId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `post_musicalId_fkey` FOREIGN KEY (`musicalId`) REFERENCES `musical` (`musicalId`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post`
--

LOCK TABLES `post` WRITE;
/*!40000 ALTER TABLE `post` DISABLE KEYS */;
/*!40000 ALTER TABLE `post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reply`
--

DROP TABLE IF EXISTS `reply`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reply` (
  `content` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `commentId` bigint NOT NULL AUTO_INCREMENT,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `isDeleted` tinyint(1) NOT NULL DEFAULT '0',
  `memberId` bigint NOT NULL,
  `postId` bigint NOT NULL,
  `replyId` bigint DEFAULT NULL,
  `updatedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`commentId`),
  KEY `reply_member_id_fkey` (`memberId`),
  KEY `reply_post_id_fkey` (`postId`),
  CONSTRAINT `reply_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`memberId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `reply_postId_fkey` FOREIGN KEY (`postId`) REFERENCES `post` (`postId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reply`
--

LOCK TABLES `reply` WRITE;
/*!40000 ALTER TABLE `reply` DISABLE KEYS */;
/*!40000 ALTER TABLE `reply` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review`
--

DROP TABLE IF EXISTS `review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review` (
  `rating` int NOT NULL,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `memberId` bigint NOT NULL,
  `musicalId` bigint NOT NULL,
  `reviewId` bigint NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`reviewId`),
  KEY `review_member_id_fkey` (`memberId`),
  KEY `review_musical_id_fkey` (`musicalId`),
  CONSTRAINT `review_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`memberId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `review_musicalId_fkey` FOREIGN KEY (`musicalId`) REFERENCES `musical` (`musicalId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review`
--

LOCK TABLES `review` WRITE;
/*!40000 ALTER TABLE `review` DISABLE KEYS */;
/*!40000 ALTER TABLE `review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket_agency`
--

DROP TABLE IF EXISTS `ticket_agency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ticket_agency` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `musicalDetailId` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ticket_agency_musical_detail_id_fkey` (`musicalDetailId`),
  CONSTRAINT `ticket_agency_musicalDetailId_fkey` FOREIGN KEY (`musicalDetailId`) REFERENCES `musical_detail` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket_agency`
--

LOCK TABLES `ticket_agency` WRITE;
/*!40000 ALTER TABLE `ticket_agency` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket_agency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wishlist`
--

DROP TABLE IF EXISTS `wishlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wishlist` (
  `memberId` bigint NOT NULL,
  `musicalId` bigint NOT NULL,
  `wishlistId` bigint NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`wishlistId`),
  KEY `wishlist_member_id_fkey` (`memberId`),
  KEY `wishlist_musical_id_fkey` (`musicalId`),
  CONSTRAINT `wishlist_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`memberId`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `wishlist_musicalId_fkey` FOREIGN KEY (`musicalId`) REFERENCES `musical` (`musicalId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wishlist`
--

LOCK TABLES `wishlist` WRITE;
/*!40000 ALTER TABLE `wishlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `wishlist` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-09-10 11:51:22
