<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musical List</title>
</head>
<body>
    <h1>Musical List</h1>
    <ul>
        <% musicals.forEach(musical => { %>
            <li>
                <a href="/musicals/<%= musical.id %>"><%= musical.title %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
